html {
    background: #fafafa;
    font: 300 calc(1em + 0.5vw)/1.5 Rubik, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
}

header {
    background: #354064;
    color: white;
    margin: 1rem 0 2rem;
    padding: 0.5rem 0;
    text-align: center;
}

main {
    margin: 2rem auto;
    max-width: 30em;
    padding: 0 2rem 5rem;
}

input {
    font: inherit;
}

[hidden] {
    display: none;
}

.SiteHeading {
    color: inherit;
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    text-decoration: none;
}

.ErrorMessage {
    background: #8F434A;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    margin: 2rem auto;
    padding: 0.2rem 0.5rem;
}

.BigOldForm {
    display: flex;
    flex-flow: row wrap;
}

.BigOldLabel, .BigOldTextField, .BigOldButton {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.2rem 0.5rem;
}

.BigOldLabel {
    flex: 1 0 100%;
    width: 100%;
}

.BigOldTextField {
    border: 0 none;
    border-radius: 2px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    flex: 1 0 auto;
    margin: 0 0.2rem 0.5rem 0;
}

.BigOldTextField:focus {
    box-shadow: inset 0 1px 0.4rem 0.05rem rgba(143, 67, 74, 0.75);
    outline: 0;
}

.BigOldButton {
    background: #35436f none no-repeat center center;
    border: 0 none;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
    flex: 1 0 auto;
    margin-bottom: 0.5rem;
}

.BigOldButton:focus, .BigOldButton:hover {
    background-color: #8F434A;
    outline: none;
}

.BigOldButton-progress {
    background-image: url('/images/ring.svg');
    background-size: 1em;
    color: transparent;
}

.RightFloater {
    display: block;
    float: right;
    margin: 0.5rem 0 1rem 1rem;
    max-width: 50%;
    width: 10rem;
}

.ResultView {
    background: white;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin: 1rem auto;
    padding: 0.2rem 0.5rem;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.ResultView[hidden] {
    display: block;
    opacity: 0;
    transform: translateY(50%);
}

.ResultTableHeading {
    padding-right: 1rem;
    text-align: left;
}
