{% extends "layout-default.twig" %}

{% block title %}Page not found - {{ parent() }}{% endblock title %}

{% block content %}
    {{ parent() }}

    <h2>Whoops!</h2>
    <p>This page isn't here. Was it ever here? Who knows...</p>
    <p>Better return to the <a href="/">start page</a> and go from there.</p>
{% endblock content %}